@font-face {
  font-family: ubuntu;
  src: url(src/ubuntu-font/Ubuntu-Regular.ttf);
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .left-side {
    width: 40%;
  }

  .right-side {
    width: 60%;
    padding: 30px;
  }

  #name h2 {
    font-size: 2rem;
  }

  .item h2,
  .item2 h2 {
    font-size: 1.6rem;
  }

  #skills div b {
    font-size: 2.2rem;
  }
}
body {
  font-family: ubuntu, sans-serif;
}
html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i.fa {
  color: #2a7b9b;
}
i.fas {
  color: #2a7b9b;
}
.my-main {
  margin: 0;
  padding: 0;
  display: flex;
}

.left-side {
  width: 30%;
  background-color: #1c1c1d;
  display: inline-block;
}
.right-side {
  width: 69.5%;
  background-color: aliceblue;
  display: inline-block;
  vertical-align: top;
  padding: 50px;
  margin: 0 auto;
 line-height: 25px;
}
.right-side hr {
  width: 80px;
  border: none;
  border-top: 2px solid #1c1c1d;
  margin-top: 20px;
  margin-bottom: 20px;
}
#name h2 {
  color: aliceblue;
  padding-top: 30px;
  padding-left: 34%;
  font-size: 40px;
}
.left-side h6 {
  color: aliceblue;
  font-size: 15px;
  margin-top: 10px;
  padding-left: 35%;
  line-height: 1.2;
  opacity: 0.2;
  letter-spacing: 1px;
}
#profile-img {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.program-box {
  margin: 50px 50px 0px;
}
.item hr {
  width: 80px;
  border: none;
  border-top: 2px solid aliceblue;
  margin-top: 10px;
  margin-bottom: 20px;
}
.item h2 {
  color: aliceblue;
  font-size: 30px;
}
.item p {
  color: aliceblue;
  word-break: break-all; /* یا break-word */
}

.item2 h2, .item2 b {
  color: aliceblue;
}
.item2 hr{
  width: 80px;
  border: none;
  border-top: 2px solid aliceblue;
  margin-top: 10px;
  margin-bottom: 20px;
}
.item2 div p{
  color: rgba(240, 248, 255, 0.808);
  font-size: 15px;
}
.item2 div hr{
  display: inline-block;
  width: 25px;
  font-size: 20px;
  border: 2px solid #2a7b9b;
  margin: 5px;
}
.item2 hr.dim {
  border-color: rgba(240, 248, 255, 0.808) !important;
}




#description-box a {
  color: aliceblue;
}

#description-box ul {
  list-style: none;
  font-size: 17px;
  margin-bottom: 50px;
}
#description-box span {
  margin-left: 15px;
  color: aliceblue;
}
#description-box li {
  margin-top: 7px;
}
#intrest {
  list-style: none;
}
.profile div {
  display: inline-flexbox;
}
#Training-Courses p {
  color: #1c1c1dc2;
}
#skills div b {
  font-size: 60px;
}
#skills div p {
  font-size: 18px;
  color: #1c1c1dc2;
  display: inline-block;
  margin-left: 10px;
}
#skills div hr {
  display: inline-block;
  width: 25px;
  font-size: 20px;
  border: 2px solid #2a7b9b;
  margin: 5px;
}
.skill-lines {
  display: flex;
  justify-content: start;
}


hr.dim {
  border-color: #1c1c1d4f !important;
}
footer {
  background-color:#1c1c1d;
  text-align: center;
  width: 100%;
  height: 20px;
  vertical-align: middle;
  padding: 30px 0;
  color: aliceblue;
}
footer a {
  color: aliceblue;
}